[submodule "apps/webserver"]
	path = apps/webserver
	url = git@github.com:Istani/syth-webserver.git
[submodule "libs/database"]
	path = libs/database
	url = git@github.com:Istani/syth-databse.git
[submodule "libs/debug"]
	path = libs/debug
	url = git@github.com:Istani/nodemodule_colorfullog.git

[submodule "packages/web-api-rpg"]
	path = packages/web-api-rpg
	url = git@github.com:Istani/syth-webserver-rpgapi.git
