[submodule "apps/webserver"]
	path = apps/webserver
	url = git@github.com:Istani/syth-webserver.git
[submodule "libs/database"]
	path = libs/database
	url = git@github.com:Istani/syth-databse.git
[submodule "libs/debug"]
	path = libs/debug
	url = git@github.com:Istani/nodemodule_colorfullog.git
[submodule "packages/web-api-rpg"]
	path = packages/web-api-rpg
	url = git@github.com:Istani/syth-webserver-rpgapi.git
[submodule "packages/web-rp-frontend"]
	path = packages/web-rp-frontend
	url = git@github.com:sandromund/twitch_rpg_front.git
[submodule "packages/web-hook-github"]
	path = packages/web-hook-github
	url = git@github.com:Istani/nodemodule_express_githubwebhook.git
[submodule "apps/rpg_logic"]
	path = apps/rpg_logic
	url = git@github.com:Istani/syth_rpg_logic.git
[submodule "libs/horde.ai"]
	path = libs/horde.ai
	url = git@github.com:Istani/test_hordeai.git
